<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-categoria-heading" jhiTranslate="jhComprasApp.categoria.home.createOrEditLabel">Create or edit a Categoria</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhComprasApp.categoria.cateNomb" for="field_cateNomb">Cate Nomb</label>
                    <input type="text" class="form-control" name="cateNomb" id="field_cateNomb"
                           formControlName="cateNomb"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhComprasApp.categoria.cateDesc" for="field_cateDesc">Cate Desc</label>
                    <input type="text" class="form-control" name="cateDesc" id="field_cateDesc"
                           formControlName="cateDesc"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
