<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="categoria">
            <h2><span jhiTranslate="jhComprasApp.categoria.detail.title">Categoria</span> {{categoria.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhComprasApp.categoria.cateNomb">Cate Nomb</span></dt>
                <dd>
                    <span>{{categoria.cateNomb}}</span>
                </dd>
                <dt><span jhiTranslate="jhComprasApp.categoria.cateDesc">Cate Desc</span></dt>
                <dd>
                    <span>{{categoria.cateDesc}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/categoria', categoria.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
