<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="medida">
            <h2><span jhiTranslate="jhComprasApp.medida.detail.title">Medida</span> {{medida.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhComprasApp.medida.mediNomb">Medi Nomb</span></dt>
                <dd>
                    <span>{{medida.mediNomb}}</span>
                </dd>
                <dt><span jhiTranslate="jhComprasApp.medida.mediDesc">Medi Desc</span></dt>
                <dd>
                    <span>{{medida.mediDesc}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/medida', medida.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
