<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhComprasApp.producto.home.title">Productos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-producto" [routerLink]="['/producto/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhComprasApp.producto.home.createLabel">
            Create a new Producto
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="productos?.length === 0">
        <span jhiTranslate="jhComprasApp.producto.home.notFound">No productos found</span>
    </div>
    <div class="table-responsive" *ngIf="productos?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prodNomb"><span jhiTranslate="jhComprasApp.producto.prodNomb">Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prodDesc"><span jhiTranslate="jhComprasApp.producto.prodDesc">Descripcion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prodPack"><span jhiTranslate="jhComprasApp.producto.prodPack">Pack</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="medida.id"><span jhiTranslate="jhComprasApp.producto.medida">Medida</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="marca.id"><span jhiTranslate="jhComprasApp.producto.marca">Marca</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="categoria.id"><span jhiTranslate="jhComprasApp.producto.categoria">Categoria</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let producto of productos ;trackBy: trackId">
                <td><a [routerLink]="['/producto', producto.id, 'view' ]">{{producto.id}}</a></td>
                <td>{{producto.prodNomb}}</td>
                <td>{{producto.prodDesc}}</td>
                <td>{{producto.prodPack}}</td>
                <td>
                    <div *ngIf="producto.medida">
                        <a [routerLink]="['/medida', producto.medida?.id, 'view' ]" >{{producto.medida?.mediNomb}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="producto.marca">
                        <a [routerLink]="['/marca', producto.marca?.id, 'view' ]" >{{producto.marca?.marcNomb}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="producto.categoria">
                        <a [routerLink]="['/categoria', producto.categoria?.id, 'view' ]" >{{producto.categoria?.cateNomb}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/producto', producto.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/producto', producto.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/producto', { outlets: { popup: producto.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="productos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
