<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="producto">
            <h2><span jhiTranslate="jhComprasApp.producto.detail.title">Producto</span> {{producto.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhComprasApp.producto.prodNomb">Nombre</span></dt>
                <dd>
                    <span>{{producto.prodNomb}}</span>
                </dd>
                <dt><span jhiTranslate="jhComprasApp.producto.prodDesc">Prod Desc</span></dt>
                <dd>
                    <span>{{producto.prodDesc}}</span>
                </dd>
                <dt><span jhiTranslate="jhComprasApp.producto.prodPack">Prod Pack</span></dt>
                <dd>
                    <span>{{producto.prodPack}}</span>
                </dd>
                <dt><span jhiTranslate="jhComprasApp.producto.medida">Medida</span></dt>
                <dd>
                    <div *ngIf="producto.medida">
                        <a [routerLink]="['/medida', producto.medida?.id, 'view']">{{producto.medida?.mediNomb}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhComprasApp.producto.marca">Marca</span></dt>
                <dd>
                    <div *ngIf="producto.marca">
                        <a [routerLink]="['/marca', producto.marca?.id, 'view']">{{producto.marca?.marcNomb}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhComprasApp.producto.categoria">Categoria</span></dt>
                <dd>
                    <div *ngIf="producto.categoria">
                        <a [routerLink]="['/categoria', producto.categoria?.id, 'view']">{{producto.categoria?.cateNomb}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/producto', producto.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
