<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-producto-heading" jhiTranslate="jhComprasApp.producto.home.createOrEditLabel">Create or edit a Producto</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhComprasApp.producto.prodNomb" for="field_prodNomb">Nombre</label>
                    <input type="text" class="form-control" name="prodNomb" id="field_prodNomb"
                           formControlName="prodNomb"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhComprasApp.producto.prodDesc" for="field_prodDesc">Prod Desc</label>
                    <input type="text" class="form-control" name="prodDesc" id="field_prodDesc"
                           formControlName="prodDesc"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhComprasApp.producto.prodPack" for="field_prodPack">Prod Pack</label>
                    <input type="number" class="form-control" name="prodPack" id="field_prodPack"
                           formControlName="prodPack"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhComprasApp.producto.medida" for="field_medida">Medida</label>
                    <select class="form-control" id="field_medida" name="medida" formControlName="medida">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="medidaOption.id === editForm.get('medida').value?.id ? editForm.get('medida').value : medidaOption" *ngFor="let medidaOption of medidas; trackBy: trackMedidaById">{{medidaOption.mediNomb}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhComprasApp.producto.marca" for="field_marca">Marca</label>
                    <select class="form-control" id="field_marca" name="marca" formControlName="marca">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="marcaOption.id === editForm.get('marca').value?.id ? editForm.get('marca').value : marcaOption" *ngFor="let marcaOption of marcas; trackBy: trackMarcaById">{{marcaOption.marcNomb}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhComprasApp.producto.categoria" for="field_categoria">Categoria</label>
                    <select class="form-control" id="field_categoria" name="categoria" formControlName="categoria">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoriaOption.id === editForm.get('categoria').value?.id ? editForm.get('categoria').value : categoriaOption" *ngFor="let categoriaOption of categorias; trackBy: trackCategoriaById">{{categoriaOption.cateNomb}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
