<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-marca-heading" jhiTranslate="jhComprasApp.marca.home.createOrEditLabel">Create or edit a Marca</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhComprasApp.marca.marcNomb" for="field_marcNomb">Marc Nomb</label>
                    <input type="text" class="form-control" name="marcNomb" id="field_marcNomb"
                           formControlName="marcNomb"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhComprasApp.marca.marcDesc" for="field_marcDesc">Marc Desc</label>
                    <input type="text" class="form-control" name="marcDesc" id="field_marcDesc"
                           formControlName="marcDesc"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
