<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="marca">
            <h2><span jhiTranslate="jhComprasApp.marca.detail.title">Marca</span> {{marca.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhComprasApp.marca.marcNomb">Marc Nomb</span></dt>
                <dd>
                    <span>{{marca.marcNomb}}</span>
                </dd>
                <dt><span jhiTranslate="jhComprasApp.marca.marcDesc">Marc Desc</span></dt>
                <dd>
                    <span>{{marca.marcDesc}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/marca', marca.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
